.attributes-panel {
  border-style: 10px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  text-align: right;
  text-shadow: 1px 1px 10px aliceblue;
}

.customTextBox {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  height: 17px;
  margin-left: 10px;
  outline: none;
  padding-left: 10px;
  padding-top: 7px;
  text-shadow: 1px 1px 10px aliceblue;
  width: 190px;
}

.customTextBox:focus {
  box-shadow: 0px 0px 10px aliceblue;
}

.resizedDropdownBox {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  height: 26px;
  margin-left: 7px;
  width: 201px;
}

.resizedDropdownBox:focus {
  box-shadow: 0px 0px 10px aliceblue;
}

/* Tooltip container */
/* These attributes will change the hover text */
.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
  border-bottom: 1px dotted white;
}

/* Tooltip text */
.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  box-shadow: 0px 0px 10px aliceblue;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  visibility: hidden;
  width: 300px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 125%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}