#dir-0,
#dir-1,
#dir-2,
#dir-3,
#dir-4,
#dir-5,
#dir-6,
#dir-7,
#dir-8 {
  align-items: center;
  background-color: lightgoldenrodyellow;
  box-shadow:
    0 0 10px 1px lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  transition: 0.1s;
}

#dir-0:hover,
#dir-1:hover,
#dir-2:hover,
#dir-3:hover,
#dir-4:hover,
#dir-5:hover,
#dir-6:hover,
#dir-7:hover,
#dir-8:hover {
  background-color: rgb(255, 255, 125);
  box-shadow:
    0 0 15px 3px lightgoldenrodyellow;
  transition: 0.1s;
}

#dir-0,
#dir-2,
#dir-8,
#dir-3,
#dir-1 {
  border-radius: 0px;
}

#dir-4 {
  border-radius: 10px 0px 0px 0px;
}

#dir-5 {
  border-radius: 0px 10px 0px 0px;
}

#dir-6 {
  border-radius: 0px 0px 0px 10px;
}

#dir-7 {
  border-radius: 0px 0px 10px 0px;
}