/* Directional grid */
/* border-radius: top-left | top-right | bottom-right | bottom-left */
#dir-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px 0px 0px 0px;
}

#dir-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#dir-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0px 10px 0px 0px;
}

#dir-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#dir-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#dir-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#dir-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0px 0px 0px 10px;
}

#dir-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#dir-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0px 0px 10px 0px;
}