/* offset-x | offset-y | blur-radius | spread-radius | color */
#prepare-info-dat,
#save-beat-as-notes {
  background-color: #fff;
  border-radius: 10px;
  box-shadow:
    inset 0 0 40px 20px #fff,
    0 0 15px 10px red,
    0 0 20px 10px magenta,
    0 0 40px 40px maroon;
  height: auto;
  margin: 0 25px;
  width: auto;
}

#download-note-data,
#download-chart-data {
  background-color: #fff;
  border-radius: 10px;
  box-shadow:
    inset 0 0 40px 20px #fff,
    0 0 15px 10px blue,
    0 0 20px 10px lightskyblue,
    0 0 40px 40px darkblue;
  height: auto;
  margin: 0 25px;
  width: auto;
}