body {
  background: linear-gradient(90deg, red, maroon, black, darkblue, blue);
  background-size: 400% 100%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: 'Teko', sans-serif;
}

/* Hide the info.dat text, user will be downloading this */
/* Disable hiding for test purposes */
#info-data-output,
#note-data-output {
  display: none;
}

.header-image-container {
  /* float: left; */
  position: absolute;
  top: 0px;
  left: 90px;
}

.header-image-container img {
  filter: drop-shadow(10px 10px 4px black);
}

.site-grid-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 35% 10% 20% auto;
  justify-content: center;
  align-items: center;
}

.note-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px 140px 140px;
  justify-content: center;
  align-items: center;
}

.tools-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px;
  justify-content: center;
  align-items: center;
}

.directional-grid-container {
  display: grid;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: 40px 40px 40px;
}

.current-beat-container {
  border-radius: 10px;
  height: 55%;
}

.save-beat-as-notes {
  display: grid;
  grid-template-columns: 50% auto;
}

#data-management-buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-family: 'Teko', sans-serif;

  position: relative;
  left: 0;
  bottom: -100px;
}

#data-management-buttons button {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
}

/* Default example note block */
.note-block {
  width: 100px;
  height: 100px;
  background: red;
}

/* Add easy black outline to any component */
.component {
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

/* Hide button */
#download-note-data {
  /* display: none; */
}