h1 {
  font-family: 'Teko', sans-serif;
}

/* Hide the info.dat text, user will be downloading this */
#info-data-output {
  display: none;
}

.header-image-container {
  /* float: left; */
  position: fixed;
  top: 0px;
  left: 50px;
}

.site-grid-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 40% 30% auto;
  justify-content: center;
  align-items: center;
}

.note-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px 140px 140px;
}

.tools-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px;
  /* grid-template-columns: auto; */
}

.directional-grid-container {
  display: grid;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: 40px 40px 40px;
}

.export-data {
  display: grid;
  grid-template-columns: 50% auto;
}

#data-management-buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-family: 'Teko', sans-serif;
}

#data-management-buttons button {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
}

/* Default example note block */
.note-block {
  width: 100px;
  height: 100px;
  background: red;
}

/* Add easy black outline to any component */
.component {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

#download-note-data {
  display: none;
}