/* Note grid */
#zero-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}