/* Tool select panel */
#directional-block {
  width: 120px;
  height: 120px;
  /* background: lightgoldenrodyellow; */
  /* border-radius: 10px; */
}

#red-block, #blue-block, #bomb-block, #wall-block, .black-style, .blue-style, .red-style, .bomb-style {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  font-size: 48px;
}

.black-style {
  background: black;
}

#red-block, .red-style {
  background: red;
}

#blue-block, .blue-style {
  background: blue;
}

#bomb-block, .bomb-style {
  background: gray;
}

#wall-block {
  background: pink;
}