/* Tool select panel */
#directional-block {
  height: 120px;
  width: 120px;
}

.button-block {
  border-radius: 10px;
  font-size: 48px;
  height: 120px;
  width: 120px;
}

#save-block {
  display: inline-block;
  position: relative;
}

#save-block::before {
  background-color: green;
  content: "";
  height: 30%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateX(34px) rotate(-45deg);
  transform-origin: left bottom;
  width: 14px;
}

#save-block::after {
  background-color: green;
  bottom: 15%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  transform: translateX(40px) rotate(-45deg);
  transform-origin: left bottom;
  width: 80%;
}

/* Clear button red x css */
#clear-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#clear-block::before,
#clear-block::after {
  background-color: red;
  content: '';
  height: 14px;
  position: absolute;
  width: 100%;
}

#clear-block::before {
  transform: rotate(45deg);
}

#clear-block::after {
  transform: rotate(-45deg);
}

.black-style {
  background: black;
}

#red-block {
  background: red;
}

.red-style,
.red-tool {
  background: red;
  box-shadow:
    0 0 5px 2px red,
    0 0 10px 5px magenta,
    0 0 12px 12px maroon;
  transition: 0.1s;
}

.red-style:hover,
.red-tool:hover {
  box-shadow:
    0 0 5px 5px red,
    0 0 10px 8px magenta,
    0 0 12px 15px maroon;
  transition: 0.1s;
}

#blue-block {
  background-color: blue;
}

.blue-style,
.blue-tool {
  background: blue;
  box-shadow:
    0 0 5px 2px blue,
    0 0 10px 5px lightskyblue,
    0 0 12px 12px darkblue;
  transition: 0.1s;
}

.blue-style:hover,
.blue-tool:hover {
  box-shadow:
    0 0 5px 5px blue,
    0 0 10px 8px lightskyblue,
    0 0 12px 15px darkblue;
  transition: 0.1s;
}

#save-clear-style,
.save-clear-style {
  background-color: lightgray;
  box-shadow:
    0 0 10px 5px lightgray;
}

.triangle {
  background-image: url("../img/triangle.png");
  background-position: top;
  background-repeat: no-repeat;
  height: 50px;
  transform: translateY(-20px);
  width: 100px;
}

#bomb-block,
.bomb-style {
  background-color: gray;
}

.bomb-style {
  box-shadow:
    0 0 10px 5px lightgray;
}

#wall-block {
  background: pink;
}

.select-style {
  box-shadow: 0px 0px 10px 10px #33ff00;
}