.site-grid-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 50% 25% auto;
}

.note-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px 140px 140px;
}

.tools-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px 140px;
  grid-template-columns: auto;
}

.directional-grid-container {
  display: grid;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: 40px 40px 40px;
}

/* Directional grid */
/* border-radius: top-left | top-right | bottom-right | bottom-left */
#dir-4 {
  border: 1px solid black;
  border-radius: 10px 0px 0px 0px;
}

#dir-0 {
  border: 1px solid black;
}

#dir-5 {
  border: 1px solid black;
  border-radius: 0px 10px 0px 0px;
}

#dir-2 {
  border: 1px solid black;
}

#dir-8 {
  border: 1px solid black;
}

#dir-3 {
  border: 1px solid black;
}

#dir-6 {
  border: 1px solid black;
  border-radius: 0px 0px 0px 10px;
}

#dir-1 {
  border: 1px solid black;
}

#dir-7 {
  border: 1px solid black;
  border-radius: 0px 0px 10px 0px;
}

.attributes-box-container {
  background-color: black;
}

/* Default example note block */
.note-block {
  width: 100px;
  height: 100px;
  background: red;
}

/* Add easy black outline to any component */
.component {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

/* Note grid */
#zero-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

/* Tool select panel */
#directional-block {
  width: 120px;
  height: 120px;
  background: lightgoldenrodyellow;
  border-radius: 10px;
}

#red-block {
  width: 120px;
  height: 120px;
  background: red;
  border-radius: 10px;
}

#blue-block {
  width: 120px;
  height: 120px;
  background: blue;
  border-radius: 10px;
}

#bomb-block {
  width: 120px;
  height: 120px;
  background: gray;
  border-radius: 10px;
}

#wall-block {
  width: 120px;
  height: 120px;
  background: pink;
  border-radius: 10px;
}