.site-grid-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 50% 25% auto;
}

.note-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-columns: 140px 140px 140px 140px;
}

.tools-grid-container {
  display: grid;
  grid-template-rows: 140px 140px 140px 140px;
  grid-template-columns: auto;
}

.attributes-box-container {
  background-color: black;
}

.note-block {
  width: 100px;
  height: 100px;
  background: red;
}

.component {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

#zero-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#zero-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#one-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-zero {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-one {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-two {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

#two-three {
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 10px;
}

